@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --page-width: unset !important;
    --color-primary: #F47045;
    --color-secondary: #9AA659;
    --color-tertiary: #5C6B4D;
    --color-pink: #E7D1C6;
    --color-light-green: #D9DDCF;
}

h1, .h1 {
    font-size: 50px !important;
    font-weight: bold !important;
    letter-spacing: 0 !important;
    margin: 0 !important;
}

h2, .h2 {
    font-size: 30px;
    font-weight: bold !important;
    letter-spacing: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}

h3, .h3 {
    letter-spacing: 0 !important;
}

h4, .h4 {
    font-size: 18px !important;
    letter-spacing: 0 !important;
    font-weight: 500 !important;;
}

h5, .h5 {
    font-size: 14px !important;
    letter-spacing: 0 !important;
}

h6, .h6 {
    letter-spacing: 0 !important;
}

a {
    text-decoration: none !important;
}

.button:after, .button:before {
    box-shadow: none !important;
}

.btn-ghost {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn-ghost:hover {
    background-color: var(--color-primary);
    color: white;
}

.quantity:after { border-radius: 10px; }

.ly-switcher-wrapper { display: none; }

.predictive-search__list-item:hover .predictive-search__item-heading { text-decoration: none !important; }

/* Header */

.header--middle-middle {
    grid-template-areas: 'heading navigation icons';
    grid-template-columns: 1fr auto 1fr;
    column-gap: 2rem;
}

.header__inline-menu {
    margin-top: 0 !important;
}

.header__menu-item {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.shopify-section-header-sticky {
    background-color: white !important;
}

.page-home .header-wrapper { border-bottom: 0 !important; }

.featured-products-menu a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
 
.featured-products-menu h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: -8px;
}

.featured-products-menu img {
    border-radius: 12px;    
}

/* Homepage */

/* Mobile-only styles */
@media (max-width: 768px) {
    /* Hide the announcement bar initially on mobile to avoid the flash */
    .announcement-bar__message {
        visibility: hidden;
    }

    #announcement-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .announcement-bar__message .fade-text {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .announcement-bar__message .fade-out {
        opacity: 0;
    }
}



.page-home .header-wrapper,
.page-home .header {
    background-color: transparent !important;
}

.lp-hero {
    position: relative;
    height: 100vh;
    margin-top: -105px;
    z-index: 0;
    overflow: hidden;
}

.lp-hero:after {
    content: '';
    position: absolute;
    right: -140px;
    top: 0;    
    display: block;
    width: 60%;
    height: 100vh;
    background-image: url('https://cdn.shopify.com/s/files/1/0600/1193/7992/files/Loopi_light_green_background.svg?v=1731518812');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.lp-hero .col-md-5 {
    height: 100vh;
}

.lp-hero .text-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
}

.lp-hero .col-md-5 p { 
    margin: 10px 0 0 0 !important; 
}

.lp-hero .col-md-5 .button {
    margin-top: 35px;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.lp-hero .slick-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 99;
}

.lp-hero .slick-slide img {
    width: 70%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
}

.lp-hero .slick-track {
    display: flex;
    align-items: center;
}

.lp-hero .slick-initialized .slick-slide {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.lp-hero .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

.lp-hero .slick-dots li {
    margin: 0 0.35rem;
}

.lp-hero .slick-dots li button {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-indent: -9999px;
    cursor: pointer;
}

.lp-hero .slick-dots li.slick-active button {
    background-color: #F47045;
}    

.lp-hero .wrapper {
    position: absolute;
    right: 0;
    bottom: 10px;
    min-width: 280px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    color: inherit;
}

.lp-hero .wrapper:hover {
    background: rgba(255, 255, 255, 0.5);
}

.lp-hero .wrapper:hover .button {
    background-color: #F47045;
}

.lp-hero .wrapper .product-title {
    max-width: 280px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 15px;
    margin-bottom: 6px;
}

.lp-hero .wrapper .solid {
    margin-top: 12px;
    margin-bottom: 15px;
    background-color: white;
}

.lp-hero .subscription {
    width: fit-content;
    background: white;
    padding: 4px 44px;
    margin-top: -36px !important;
    border-radius: 100px;
    font-size: 14px;
    margin: 0 auto;
}

.lp-hero .slick-slide {
    cursor: pointer;
}

/* Adjusting single product width */
.lp-hero.single-product .slick-slide {
    width: 100%;
    display: block;
}

/* Hiding slick's default display of arrows and dots for single product */
.no-carousel .slick-list {
    display: block;
}

.lp-hero .btn-green {
    background-color: #5C6B4D;
    padding: 5px 80px;
    line-height: 0;
    min-height: 40px;
}

.lp-hero .reviews-hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    margin-top: 30px;
}

.ticket-wrapper {
    position: relative;
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center; 
    font-size: 26px;
    font-weight: 300 !important;
    padding: 0; 
    line-height: 50px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.ticket-wrapper .bullet {
    color: var(--color-primary); 
    margin: 0 5px; 
}

.collection-list .card__content {
    position: absolute;
    bottom: 20px;
}

.collection-list .card__inner  .card__content {
height: 0;
}

.collection-list .card__media {
    border-radius: 50% !important;
}

.collection-list .card__information {
    background-color: white;
    padding: 15px 90px !important;
    text-align: center;
}

.collection-list .card__heading {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.multicolumn .title-wrapper-with-link,
.collection-list-wrapper .title-wrapper-with-link {
    text-align: center;
    justify-content: center;
}

.collection-list {
    row-gap: 30px;
}

/* Footer */
.localization-form__select:after,
.localization-form__select:before,
.localization-form__select:hover.localization-form__select:after,
.field:after, .field:hover.field:after {
    border-radius: 10px !important;
}

.field__input:focus { box-shadow: none; }

.footer-block__newsletter { text-align: left !important; }

.newsletter-form { margin-left: 0 !important; }

.collections-card__inner { border-radius: 50% !important; }

.collection-hero { margin-top: 50px !important; }


/* CART DRAWER */

.cart-drawer__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 26px;
}

.cart__ctas {
    flex-direction: column;
    gap: 0 !important;
}

.drawer__inner { width: 45rem !important; }

/* Contact page */

[class*='page-contact'] .rich-text__blocks { max-width: 73rem !important; }

/* Blog page */

.main-blog .scroll-trigger.animate--slide-in .card__inner {
    height: 420px;
}

.blog-articles--collage > *:nth-child(3n + 1) .card__inner {
    height: auto !important;
}

/* Cart page */
.cart__blocks .totals {
    flex-direction: column;
    gap: 14px;
    margin-bottom: 25px;
}

/* Product card */

.product-grid .card-information {
    width: 100%;
    display: flex;
    align-items: center;
}

.product-grid .caption-large {
    margin-top: 0;
    margin-right: 10px;
}

.product-grid .price { margin-top: 0 !important; margin-right: 10px; }

.rrp {
    position: absolute;
    left: 10px;
    top: 13px;
    margin: 0 !important;
    background-color: var(--color-pink);
    height: 22px;
    max-width: fit-content;
    padding: 2px 9px;
    box-sizing: content-box;
    border-radius: 20px;
    font-size: 13px;
}

/* PDP page */

.product__info-wrapper {
    padding-left: 10px !important;
}

.accordion summary { 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
 }

.product__info-container .color-shape {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    /* border: none !important; */
}

.product__info-container .color-shape.active:before {
    border: 1px solid black;
    width: 46px;
    height: 46px;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

.product-form__input--pill input[type='radio']:checked + label.non-color-option {
    background-color: var(--color-tertiary)  !important;
    border-color: transparent;
}

.product-form__error-message-wrapper {
    align-items: center !important;
    gap: 8px;
}

.product-form__error-message-wrapper svg {
    width: 24px;
}

#md-sticky-atc .quantity-input-wrapper { justify-content: flex-end; }

.shopify-policy__container { max-width: 75rem !important; margin-top: 60px; }

.shopify-policy__title { margin-bottom: 30px; }

/* Footer */
.footer a { text-decoration: none !important; }

@media (min-width: 1300px) {
    .lp-hero .slick-dots {
        bottom: 50px;
    }
    .footer__copyright {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
    }
}

@media (max-width: 1024px) {

    h1, .h1 {
        font-size: 38px !important;
    }

    h2, .h2 {
        font-size: 28px !important;
    }

    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 80px;
    }

    .header .header__heading-link {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%; 
    }

    .page-width {
        padding: 0 2.5rem;
    }

    .lp-hero {
        margin-top: 0 !important; 
        height: 100vh !important;
    }

    .lp-hero .col-sm-12 { 
        height: 45vh !important; 
        text-align: center;
        align-items: center !important;
    }

    .lp-hero:after {
        background-position: bottom right !important;
        width: 60% !important;
    }

    .ticket-wrapper {
        white-space: nowrap; /* Prevent text wrapping */
    }
    
    .reviews-hero { align-items: center; }

    .rrp {
        display: flex;
        align-items: center;
        padding: 1px 9px;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    h2, .h2 {
        font-size: 20px !important;
    }

    h4, .h4 {
        font-size: 18px !important;
    }

    .page-home .multi-column-section .grid--2-col-tablet-down {
        padding: 0 50px !important;
        justify-content: center;
        margin-top: -80px;
    }

    .page-home .grid--2-col-tablet-down .multicolumn-list__item:last-child img {
        margin-top: 14px;
    }

    .footer__content-top {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .footer-block-image {
        justify-content: flex-start !important;
    }

    .footer-block__newsletter, 
    .newsletter-form__field-wrapper {
        max-width: 100% !important;
        width: 100%;
    }

    .footer-block--newsletter .footer-block__heading {
        text-align: center;
    }

    .footer__localization { gap: 20px; }

    .disclosure .localization-form__select { margin: 8px 0 0 !important; }

    .lp-hero {
        height: unset !important;
    }

    .lp-hero .slick-slide img {
        margin-bottom: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .lp-hero .wrapper {
        bottom: 115px;
        left: 50%;
        transform: translateX(-50%);    
    }
            
    .lp-hero .wrapper .btn-green {
        width: 100%;
        padding: unset;
    }

    .lp-hero .text-col {
        height: 54vh !important;
        padding-bottom: 30px;
    }

    .lp-hero .product-col {
        height: 60vh !important;
    }

    .page-home .multi-column-section .multicolumn { padding-top: 50px; }
    
    .multi-column-section .multicolumn .title-wrapper-with-link { align-items: center; }

    .collection-list .card__information { padding: 6px 20px !important; }

    .collection-list .card__heading {
        font-size: 14px;
    }

    .image-with-text .image-with-text__content--middle { padding: 35px 0; }

    /* Page - Contact */
    .rich-text__wrapper {
        padding: 0 10px;
    }

    /* Page - Cart */
    .cart__blocks .totals,
    .cart-drawer__footer {
        align-items: flex-start !important;
    }

    .cart__blocks .totals>*+* {
        margin-left: 0 !important;
    }

    .cart__blocks .cart__ctas button {
        max-width: 100%;
    }

    /* Page - PDP */

    .product__info-wrapper { padding: 0 !important }

    .breadcrumbs {
        padding: 0 2.5rem !important;
        margin-top: 30px;
    }

    #md-sticky-atc .product-form .quantity-input-wrapper {
        flex-direction: column;
        gap: 8px;
        margin-top: 4px;
    }    

    #md-sticky-atc .product-form .select,
    #md-sticky-atc .product-form button[name="add"] {
        max-width: 100% !important;
        width: 100% !important;
    }
}

@media (max-width: 479px) {
    .header {
        padding: 10px 1.5rem 10px 3rem !important;
    }

    .header__heading-logo {
        max-width: 80%;
    }

    .header__icons {
        padding: 0;
    } 

    .header__icon {
        width: 3.8rem;
        height: 3.8rem;
    }
}

@media (max-width: 500px) {
    .lp-hero .page-width {
        padding: 0 1rem;
    }

    h1, .h1 {
        font-size: 30px !important;
    }

    .lp-hero .product-col {
        height: 80vh !important;
    }
}
